@charset "utf-8";


.chat{width: 100px; height: 340px; 
    background-color: #FFE62A; 
    position:fixed;  top: 100px; right: 50px;
    display: flex;flex-direction: column; justify-content:center; align-content:space-around; align-items:center;
    padding: 10px;
}
 
   .chat_icon{width: 80px; height: 80px; border: 2px solid black ;
    border-radius: 100% ; background-position: center; overflow: hidden;
    background-repeat: no-repeat;
}

.chat_icon:nth-child(1){background-image: url(/project_1/img/my_home1.png);background-size: 60px; background-position: center bottom;}
.chat_icon:nth-child(3){background-image: url(/project_1/img/shop1.png);background-size: 56px; }
.chat_icon:nth-child(5){background-image: url(/project_1/img/option_1.png);background-size: 60px; }
/* <!-- 태그 페이지 --> */ 
.sub_nav {
    width: 100%;
    height: 50px;
    background-color: #85E024;
    display: flex;
}

.sub_nav .container p{height: 50px;line-height:50px; text-align: right; position: relative; 
  float:left; padding: 0 100px; font-weight:bold;  font-size: 20px;}
.sub_nav .container p:not(:first-child){padding-left: 40px;}
.big_tag, .big_tag:after{background-color: #85E024;}
.middle_tag, .middle_tag:after{background-color: #86D02B;}
.small_tag , .small_tag:after{background-color: #57901B;}

.sub_nav .container p:after {content:''; width:30px; height:50px; position: absolute; right:-29px; top:0; z-index:3;  clip-path: polygon(100% 50%, 0 0, 0 100%);}







/* 서비스 페이지 */

.service {
    width: 1190px;
    height: 690px;
    margin: 0 auto;
}

.service_image {
    width: 400px;
    height: 450px;
    float: left;
    margin: 160px 0;
}

.service_image_page {
    width: 500px;
    height: 500px;
    border: 5px solid hotpink;
    overflow: hidden;}
    .service_image_page img{width: 500px; height: 500px;
        background-position: center; background-size: cover;transition: 0.5s;}
.service_image_page img:hover{transition: 0.5s; transform: scale(1.2); cursor: pointer;}


.service_image_swichi {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin: 20px 150px;

}

.service_click.active{background-color:hotpink;}

.service_click {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 100%;
}


.service_menu {
    width: 500px;
    height: 450px;
    float: right;
    margin: 160px 0;
}

.service_title{width:500px; height:50px; 
font-size: 30px;  padding: 5px; letter-spacing: 1px; }
.service_headline{width: 500px; height: 70px; 
margin: 16px 0; padding: 10px 0px; font-size: 18px;
}
.service_headline h4 {font-size:25px; margin: 6px 0;}
.service_text{width: 500px; height: 200px; 
margin: 27px 0;
}


.service_button_page{width: 500px; height: 60px;
display: flex; justify-content:space-around; align-items: center;
}
.service_steamed, .service_present {width: 120px; height: 50px; margin: 5px 0;
     display:flex; flex-direction: row; justify-content:space-around; align-items:center;
     border: 3px solid gray;
    }
.service_steamed{ background-color:snow ; color:#3f3f3f; font-size: 12px; font-weight: bold;}
.service_steamed:hover{ background-color:gray; transition: 0.3s; cursor:pointer;
}
.service_present{background-color:rgb(254, 39, 1); color:white;
    font-size: 12px; font-weight: bold;
} 
.service_present:hover{ background-color:white; transition: 0.3s;
    color: rgb(254, 39, 1); border: solid black; cursor:pointer;
}
.service_icon {width: 30px; height:30px; 
; float: left;
}
.service_steamed .service_icon {background-image: url(/project_1/img/steamed1.png);
background-position: center; background-size: cover; margin: -3px 0; }

.service_present .service_icon {background-image: url(/project_1/img/present.png);
    background-position: center; background-size: cover;margin: -2px 0;}

.service_pick button{width:200px ; height: 60px; border-radius: 30px; 
    align-content:center; padding: 7px; background-color: white;
    font-size: 20px; font-weight: bold;
}
.service_pick button p { padding: 7px;
}
.service_button_icon {width: 40px; height:40px; background-color: #fe2b8a;
border-radius:100%; float: left; background-image: url(/img/point1.png);
background-position: center; background-size: cover;
}

.service_button_icon:hover {background-color: white; transition: 0.3s;}

/* <!-- 정보 스위치 페이지 --> */

.information_swich{width:1190px; height:280px;
margin: 0 auto;
}

.information_swich_layer{width:450px; height:400px; 
; margin:-50px 0px;
float:left ;
}

.information_swich_click{width: 450px; height: 150px; 
}

.information_swich_product{width: 150px; height: 150px; border-radius: 100%;
background-color: black; display:flex; color: #57901B; justify-content: center; 
flex-direction: column; align-items: center; 
font-weight: bold; color: white; 
}

.information_swich_product_information{width: 150px; height: 150px; border-radius: 100%;
    background-color: black; display:flex; color: #57901B; justify-content: center; 
    flex-direction: column; align-items: center; 
    margin: -130px 170px;
    font-weight: bold; color: white; 
    }

.information_swich_review{width: 150px; height: 150px; border-radius: 100%;
    background-color: black; display:flex; color: #57901B; justify-content: center; 
    flex-direction: column; align-items: center; 
margin: 140px 260px;
font-weight: bold; color: white; 
}

.information_swich_product:hover, .information_swich_product_information:hover, .information_swich_review:hover
{cursor: pointer; transition: 0.3s; background-color: white; color: hotpink;}
.information_swich_product:hover .information_swich_icon{background-image: url(/project_1/img/title1.png)}
.information_swich_product_information:hover .information_swich_icon{background-image: url(/project_1/img/information1.png);}
.information_swich_review:hover .information_swich_icon{background-image: url(/project_1/img/review1.png);}




.information_swich_main{width: 250px; height: 250px; border-radius: 100%;
background-color: black;
}
.information_swich_main:hover{background-color: hotpink; transition: 0.3s; cursor:none;}
 .information_swich_icon {width: 70px; height:60px; 
margin:10px 0;
}
.information_swich_review .information_swich_icon {background-image: url(/project_1/img/review1.0.png);
background-position: center; background-size: cover;
}

.information_swich_product_information .information_swich_icon {background-image: url(/project_1/img/information1.0.png);
    background-position: center; background-size: cover;
}
.information_swich_product .information_swich_icon {background-image: url(/project_1/img/title1.0.png);
    background-position: center; background-size: cover;}
/* 서비스 정보 페이지 */

.information_page{width:100%; height:auto; background-color: black;
justify-content: center; padding: 300px;;
}

.information{width: 1190px; height: 2000px; background-image: url(/project_1/img/information_title.jpg);
margin: 0 auto; background-position: center; background-size:cover;display: flex; flex-direction: column;
}
.information img{width: 100%; height: 100%;}
.information2{width:1190px; height: 1000px; background-image: url(/project_1/img/information_russian_blue.jpg);
background-position: center; background-size:cover;}
.information3_review_title{width: 1190px; height: 50px; font-size: 30px;
font-weight: bold; margin: 30px 55px;
}
.information3{width: 1190px;height: 700px; background-color: #f3f3f3; 
    display: flex; flex-wrap: wrap; justify-content: center;

}
.user_review {width: 500px; height: 200px; border:2px solid #666; 
background-color: white; border-radius: 10px; margin: 30px 40px;
padding: 20px;
}

.user_name{ 
    width: 180px; height: 30px; float: left;
font-size: 25px; font-weight: bold;
}

.user_date{ 
width: 100px; height: 30px;  float: right;
}

.user_text{
width: 450px; height: 100px;
margin: 60px 0px;
}